@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

html {
  font-family: 'Spartan', sans-serif;

  box-sizing: border-box;

  padding: 0; 
  margin: 0; 

  --key-box-shadow-offset-x: 0.3rem;
  --key-box-shadow-offset-x-active: 0.2rem; 
}

body {
  background-color: var(--color-main-background);
  color: var(--color-text-primary); 

  padding: 0; 
  margin: 0; 
}

.outer {
  height: 100vh; 
  max-width: 30rem;
  margin-inline: auto; 
  padding-inline: 1.2rem; 
  display: flex;
  flex-direction: column;
  gap: 1.4rem; 
}

p,
h1 {
  margin: 0; 
}

.screen,
.keypad {
  font-size: 2rem; 
  border-radius: 0.4rem;
}

/* Color themes */ 
.theme-1 {
  --color-main-background: hsl(222, 26%, 31%); 
  --color-toggle-background: hsl(223, 31%, 20%);
  --color-keypad-background: hsl(223, 31%, 20%);
  --color-screen-background: hsl(224, 36%, 15%);
  --color-key-background1: hsl(30, 25%, 89%);
  --color-key-shadow1: hsl(28, 16%, 65%);
  --color-key-background2: hsl(225, 21%, 49%);
  --color-key-shadow2: hsl(224, 28%, 35%); 
  --color-key-background3: hsl(6, 63%, 50%);
  --color-key-shadow3: hsl(6, 70%, 34%);
  --color-toggle: hsl(6, 63%, 50%);
  --color-text-primary: hsl(0, 0%, 100%); 
  --color-text-secondary: hsl(221, 14%, 31%);
  --color-text-tertiary: hsl(0, 0%, 100%); 
  --color-text-quaternary: hsl(0, 0%, 100%);
}

.theme-2 {
  --color-main-background: hsl(0, 0%, 90%); 
  --color-toggle-background: hsl(0, 5%, 81%);
  --color-keypad-background: hsl(0, 5%, 81%);
  --color-screen-background: hsl(0, 0%, 93%);
  --color-key-background1: hsl(45, 7%, 89%);
  --color-key-shadow1: hsl(35, 11%, 61%);
  --color-key-background2: hsl(185, 42%, 37%);
  --color-key-shadow2: hsl(185, 58%, 25%);
  --color-key-background3: hsl(25, 98%, 40%);
  --color-key-shadow3: hsl(25, 99%, 27%); 
  --color-toggle: hsl(25, 98%, 40%);
  --color-text-primary: hsl(60, 10%, 19%); 
  --color-text-secondary: hsl(60, 10%, 19%);
  --color-text-tertiary: hsl(0, 0%, 100%); 
  --color-text-quaternary: hsl(0, 0%, 100%); 
}

.theme-3 {
  --color-main-background: hsl(268, 75%, 9%); 
  --color-toggle-background: hsl(268, 71%, 12%);
  --color-keypad-background: hsl(268, 71%, 12%);
  --color-screen-background: hsl(268, 71%, 12%);
  --color-key-background1: hsl(281, 89%, 26%);
  --color-key-shadow1: hsl(285, 91%, 52%);
  --color-key-background2: hsl(268, 47%, 21%);
  --color-key-shadow2: hsl(290, 70%, 36%); 
  --color-key-background3: hsl(176, 100%, 44%);
  --color-key-shadow3: hsl(177, 92%, 70%);
  --color-toggle: hsl(176, 100%, 44%);
  --color-text-primary: hsl(52, 100%, 62%);  
  --color-text-secondary: hsl(52, 100%, 62%);
  --color-text-tertiary: hsl(0, 0%, 100%);
  --color-text-quaternary: hsl(198, 20%, 13%);
}

/* Header */ 
header {
  margin-top: auto; 
  padding-top: 0.5rem;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.toggle-container {
  font-size: 0.6rem; 
  display: flex; 
}

.toggle-title {
  display: flex;
  align-items: center;
  padding-top: 1.6em; 
  padding-inline: 1.5em; 
  text-transform: uppercase;
}

.toggle {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0.65rem; 
}

.toggle-label-container {
  display: flex;
  justify-content: space-around;
  padding-block: 0.3rem; 
}

.toggle-tw {
  background-color: var(--color-toggle-background);
  border-radius: 1.6rem;
  display: flex; 
}

.toggle-tw input {
  appearance: none;
  -webkit-appearance: none;
  width: 1.3em; 
  height: 1.3em; 
  margin: 0.4em 0.2em;
}

.toggle-tw input:checked {
  border-radius: 50%; 
  box-shadow: inset 1.1em 1.1em var(--color-toggle);
}

/* Calculator screen */ 
.screen {
  background-color: var(--color-screen-background);
  padding: 0.8em; 
  text-align: right;
  font-size: 2rem;
}

/* Calculator keypad */ 
.keypad {
  margin-bottom: auto; 
  background-color: var(--color-keypad-background);
  padding: 0.5em; 
}

.keypad-main {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keypad-bottom {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.key {
  background-color: var(--color-key-background1);
  color: var(--color-text-secondary);
  border-radius: 0.5rem; 
  box-shadow: 0 var(--key-box-shadow-offset-x) var(--color-key-shadow1);
  border: none; 
  font-size: 2rem; 
  font-weight: 700; 
  margin-inline: clamp(0.4rem, 1.5vw, 1rem); 
  margin-block: clamp(0.5rem, 1.5vh, 1rem); 
  padding-block: 0.6rem; 
  padding-inline: 0; 
}

.key-fn {
  background-color: var(--color-key-background2);
  box-shadow: 0 var(--key-box-shadow-offset-x) var(--color-key-shadow2);
  color: var(--color-text-tertiary);
  font-size: 1rem; 
}

.key-op[data-value="="] {
  background-color: var(--color-key-background3);
  box-shadow: 0 var(--key-box-shadow-offset-x) var(--color-key-shadow3);
  color: var(--color-text-quaternary);
}

.key:active {
  transform: translateY(0.1rem);
  box-shadow: 0 var(--key-box-shadow-offset-x-active) var(--color-key-shadow1);
}

.key-fn:active {
  box-shadow: 0 var(--key-box-shadow-offset-x-active) var(--color-key-shadow2);
}

.key-op[data-value="="] {
  box-shadow: 0 var(--key-box-shadow-offset-x-active) var(--color-key-shadow3);
}
